body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1529px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:955px;
  width:257px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:983px;
  width:1440px;
  height:1px;
}
#u605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1037px;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:1528px;
  top:27px;
  width:1px;
  height:1036px;
}
#u606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:906px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:906px;
}
#u607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:55px;
  background:inherit;
  background-color:rgba(63, 63, 63, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:55px;
}
#u609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:1341px;
  top:16px;
  width:67px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
}
#u610_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  white-space:nowrap;
}
#u611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.458823529411765);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:32px;
  height:32px;
  font-size:8px;
  color:#FFFFFF;
}
#u611_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:28px;
  word-wrap:break-word;
}
#u612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:15px;
  width:25px;
  height:25px;
  font-size:8px;
  color:#FFFFFF;
}
#u612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:18px;
  width:300px;
  height:22px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:69px;
  width:57px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:852px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:160px;
  height:852px;
}
#u616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:52px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:172px;
  width:159px;
  height:52px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:172px;
  width:160px;
  height:52px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u620_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:14px;
  width:108px;
  word-wrap:break-word;
}
#u621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:190px;
  width:12px;
  height:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
  line-height:22px;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:265px;
  width:160px;
  height:52px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
  line-height:22px;
}
#u623_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:14px;
  width:108px;
  word-wrap:break-word;
}
#u624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:283px;
  width:12px;
  height:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:224px;
  width:160px;
  height:42px;
}
#u626_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.298039215686275);
  text-align:left;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:228px;
  width:160px;
  height:34px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.298039215686275);
  text-align:left;
}
#u627_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:78px;
  width:160px;
  height:42px;
}
#u629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.298039215686275);
  text-align:left;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:160px;
  height:34px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.298039215686275);
  text-align:left;
}
#u630_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
  line-height:22px;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:160px;
  height:52px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
  line-height:22px;
}
#u632_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:14px;
  width:108px;
  word-wrap:break-word;
}
#u633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:138px;
  width:12px;
  height:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
  line-height:22px;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:757px;
  width:160px;
  height:52px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
  line-height:22px;
}
#u635_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:14px;
  width:108px;
  word-wrap:break-word;
}
#u636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:775px;
  width:12px;
  height:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
  line-height:22px;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:809px;
  width:160px;
  height:52px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
  line-height:22px;
}
#u638_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:14px;
  width:108px;
  word-wrap:break-word;
}
#u639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:827px;
  width:12px;
  height:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:876px;
  width:160px;
  height:30px;
  color:#FFFFFF;
}
#u640_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:339px;
  width:416px;
  height:40px;
  color:#999999;
  text-align:left;
}
#u642_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u642.selected {
}
#u642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:345px;
  width:353px;
  height:28px;
}
#u643_input {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:28px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:339px;
  width:69px;
  height:40px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u644_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
  background:inherit;
  background-color:rgba(96, 176, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u644.mouseOver {
}
#u644_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 106, 212, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u644.mouseDown {
}
#u644_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u644.selected {
}
#u644_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
  background:inherit;
  background-color:rgba(211, 211, 211, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u644.disabled {
}
#u644_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:29px;
  white-space:nowrap;
}
